.ouro{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/fundo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
